Source: gotypist
Section: text
Priority: optional
Maintainer: Martin Simon <me@martinsimon.me>
Build-Depends:
 debhelper (>= 12),
 dh-golang,
 golang-any,
Standards-Version: 4.5.1
Homepage: https://github.com/pb-/gotypist

Package: gotypist
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 wamerican,
Description: A touch-typing tutor
 A simple touch-typing tutor that follows Steve Yegge's methodology of going
 in fast, slow, and medium cycles.
